@import url(../blocks/footer.css);

.footer{
    background-color: #0A2850;
    color: white;
    padding-top: 60px;
}

.footer__content{
    padding: 0px 80px;
}    
.footer__logo{
    width: 105px;
    height: 39px;
}

.footer__social{
    list-style: none;
    margin: 0;
    line-height: 20px;
}

.footer__list-item{

}