@import url(../blocks/form.css);
 

.form {
  max-width: 385px;
  margin: auto;
}
.form__fieldset {
  display: flex;
  flex-direction: column;

  border: none;
}

.form__input {
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  width: 385px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding-bottom: 8px;
}

.form__button {
  width: 385px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
  background-color: #2f80ed;
  color: white;
}

.form__checkbox {
  height: 12px;
  width: 12px;
  gap: 20px;
  margin-bottom: 120px;
}
.form__label_checkbox {
  justify-content: center;
}
