@import url(../blocks/nav.css);

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-right: 80px;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
}

.nav__link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}