@import url(../blocks/page.css);

.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}




.content {
  background-image: url("/images/background_recipes.svg");
  background-color: #0a2850;
  color: #ffffff;
  background-size: cover;
}

