@import url(../blocks/reservation.css);


.reservation {
  background-image: url("/images/background_reservation.svg");
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  color: black;
}

.reservation__title {
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  
}