.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-right: 80px;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
}

.nav__link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  height: 100vh;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  max-height: 800px;
}
.header__title {
  margin-top: 183px;
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}
.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  margin-top: 28px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  /* padding-bottom: 40px;
  padding-left: 80px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__footer-paragraph {
  display: flex;
  align-items: center;
  padding-right: 80px;
  margin: 0;
}

.content {
  background-image: url("/images/background_recipes.svg");
  background-color: #0a2850;
  color: #ffffff;
  background-size: cover;
}

.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  max-width: 580px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding-top: 24px;
  padding-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.recipes__videos {
  gap: 40px;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 216px;
}
.recipes__video-item {
  margin: 0;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
